[tool.ruff]
line-length = 80
target-version = "py311"

[tool.ruff.lint]
select = ["E", "F", "I", "W", "B", "UP"]
ignore = []

[tool.black]
line-length = 80
target-version = ['py311']
include = '\.pyi?$'
